<!-- App comp is working!!! -->

ngFor ngIf ngStyle my own directive (yes)

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul classs="list-group">
        <li class="list-group-item" *ngFor="let emp of employees">
          {{ emp.name | uppercase }} &nbsp;
          {{ emp.started | date : "short" }} &nbsp; {{ emp.skill }} &nbsp;
          {{ emp.information }} &nbsp;
        </li>
      </ul>
    </div>
  </div>
</div>

<div style="margin-left: 50px">
  Title is : {{ title }}

  <br />
  <div *ngIf="isClicked; else temp">
    {{ Johninformation }}
  </div>
  <ng-template #temp>
    John is : {{ Johninformation | shortsentence : 15 }}
    <a class="link-primary" (click)="InformationMore()">...More</a>
  </ng-template>

  <br />
  Rober is : {{ robertinformation | shortsentence : 20 }}
</div>

<!-- Directives nothing but kind of a classes that add
  the new behaviour or modify | update the exiting behaviour to the elmement -->

<hr />

<h5>Custom Directives</h5>

<!-- Zero -->
<div class="container">
  <!-- new baviour i.e. background-color is green color : red below p element -->

  <!-- yellow green -->
  <p appBasicColor>Angular Custom Directive</p>


  <!--Host Element-->
  <p
    [BGColor]="'yellow'"
    [color]="'green'"
    [mouseenterColor]="'brown'"
    [mouseleaveColor]="'blue'"
    appAdvancedcolor
  >
    Advanced Angulr Custom Directive
  </p>

  <span [BGColor]="'black'" [color]="'white'" appAdvancedcolor>
    Hello span</span
  >

  <!-- 
  <span appBasicColor>Hello span</span>

  <input type="text" appBasicColor/>


  <textarea value="coments" appBasicColor>
    
  </textarea> -->

  <!-- 
  <span appBasicColor></span> -->
</div>
